<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div>
                <h1>Update Incidents</h1>
                <form action="" method=post>
			<div id="tableContainer" class="tableContainer">
				{% include 'incident/update_incident_table.html' %}
			</div>

              
                        {{ form.hidden_tag() }}
			<div>
                                {{ form.status.label }}{{ form.status }}
                        </div>

                        <div>
                                {{ form.itype.label }}{{ form.itype }}
                        </div>
                        <div>
                                {{ form.comments.label }}{{ form.comments }}
                        </div>
                        <div><input type="submit" value="Submit"></div>

                </form>
        </div>
{% endblock %}

