<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div>
                <h1>Update Alerts</h1>
                <form action="" method=post>
			<div id="tableContainer" class="tableContainer">
				{% include 'alert/update_alert_table.html' %}
			</div>

              
                        {{ form.hidden_tag() }}
			<div>
                                {{ form.status.label }}{{ form.status }}
                                {% for error in form.status.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>

                        <div>
                                {{ form.atype.label }}{{ form.atype(size=24) }}
                                {% for error in form.atype.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                         <div>
                                {{ form.ip.label }}{{ form.ip(size=24) }}
                                {% for error in form.ip.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.mac.label }}{{ form.mac(size=24) }}
                                {% for error in form.mac.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.comments.label }}{{ form.comments }}
                        </div>
                        <div><input type="submit" value="Submit"></div>

                </form>
        </div>
{% endblock %}

