<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
	<div>
		<h1>Alerts</h1>
		<table>
			<tr>
				<th>Alert Name</th>
				<th>Description</th>
			</tr>
				{% for a in alerts %}
			<tr>
				<td>{{ a.alert_name }}</td>
				<td>{{ a.alert_value }}</td>
			</tr>
				{% endfor %}
		</table>
	
		<br><br><br>

		<h1>Enter Alert</h1>
		<form action="" method="post" name="login">
			{{ form.hidden_tag() }}
			<dl>			
				<dt>Enter Alert Name:
				<dd>{{ form.alert_name(size=24) }}
				<dt>Enter Alert Value:
				<dd>{{ form.alert_value(size=24) }}
				<dd><input type="submit" value="Submit">
			</dl>
		</form>
	</div>
{% endblock %}
