<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div>
               <h1>New Incident</h1>
                <form action="" method="post" name="login">
                        {{ form.hidden_tag() }}
                        <div>
                                {{ form.incident_type.label }}{{ form.incident_type(size=24) }}
                                {% for error in form.incident_type.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.incident_title.label }}{{ form.incident_title(size=24) }}
                                {% for error in form.incident_title.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.incident_ip.label }}{{ form.incident_ip(size=24) }}
                                {% for error in form.incident_ip.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.incident_mac.label }}{{ form.incident_mac(size=24) }}
                                {% for error in form.incident_mac.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.incident_comments.label }}{{ form.incident_comments }}
                        </div>
                        <div><input type="submit" value="Submit"></div>

                </form>
        </div>
{% endblock %}

