<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div>
                <h1>Update Alerts</h1>
                <form action="" method=post>
			<div id="tableContainer" class="tableContainer">
				{% include 'update_table.html' %}
			</div>

              
                        {{ form.hidden_tag() }}
			<div>
                                {{ form.alert_status.label }}{{ form.alert_status }}
                                {% for error in form.alert_status.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>

                        <div>
                                {{ form.alert_type.label }}{{ form.alert_type(size=24) }}
                                {% for error in form.alert_type.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                         <div>
                                {{ form.alert_ip.label }}{{ form.alert_ip(size=24) }}
                                {% for error in form.alert_ip.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.alert_mac.label }}{{ form.alert_mac(size=24) }}
                                {% for error in form.alert_mac.errors %}
                                        <span style="color: red;">[{{error}}]</span>
                                {% endfor %}<br>
                        </div>
                        <div>
                                {{ form.alert_comments.label }}{{ form.alert_comments }}
                        </div>
                        <div><input type="submit" value="Submit"></div>

                </form>
        </div>
{% endblock %}

